:root {
  --counter-size: 10px;
}

img {
  height: 500px;
  width: auto;
}

button {
  cursor: pointer;
  font-size: 3rem;
  border: none;
}
button:hover {
  opacity: 20%;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
.slider {
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.counter::before {
  content: " ";
  display: inline-block;
  width: var(--counter-size);
  height: var(--counter-size);
  position: absolute;
  background-color: rgb(107, 104, 104);
  border-radius: 50%;
}

.counter {
  display: flex;
  height: var(--counter-size);
  width: var(--counter-size);
  margin: 5px;
  justify-content: center;
  align-items: center;
}
.counter-container {
  display: flex;
  margin-top: 10px;
}

.selected::after {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
}
